<!doctype html>
<html lang="en" ng-app="HourTracking">
<head>
  <meta charset="utf-8">
  <title>Timetracker</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>
  <style type="text/css">
  .ng-hide{
  	display: none;
  }
        html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -100px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 100px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
  </style>
</head>
<body ng-controller="default">
<div id="wrap">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">Timetracker</div>
      </div>
    </div>
  </div>
<br/><br/><br/><br/>
  <div class="container">
  <div class="well">
  	<select ng-model="newTask.project" ng-options="c.name for c in projects"></select>
  	<input ng-model="newTask.name" />
  	<input ng-model="newTask.extraWork" type="checkbox">
  	<span class="btn" ng-click="addTask()">add</span>
  </div>
  <div class="row">
  	<div class="col-md-6">
  		<a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a> | 
  		<a href="" ng-click="predicate = 'created'; reverse=!reverse">Created</a> | 
  		<a href="" ng-click="predicate = 'updated'; reverse=!reverse">Updated</a>
  	</div>
 	<div class="col-md-6 text-right">
  		<a href="" ng-click="filter.project.name = '';">All</a>
  		<span ng-repeat="project in projects"> | <a href="" ng-click="filter.project.name = project.name">{{project.name}}</a></span>
  	</div>
  </div>
  <div ng-repeat="task in tasks | orderBy:predicate:reverse | filter:filter:strict" class="row">
  	<h1 class="col-md-12">
  		{{task.name}}
  		<small ng-click="startTask(task)" ng-show="task.isRunning()"><span class="glyphicon glyphicon-pause"></span></small>
  		<small ng-click="startTask(task)" ng-show="!task.isRunning()"><span class="glyphicon glyphicon-play"></span></small>
	</h1>
  	<span class="col-md-3">Time elapsed</span><span class="col-md-9">{{task.getFormattedTime()}}</span>
  	<span class="col-md-3">Created</span><span class="col-md-9">{{task.getFormattedCreateTime()}}</span>
	<a href="" class="small"><i class="col-md-12" ng-click="removeTask(task)">Delete this entry</i></a>
  </div>
  </div>
  <div id="push"></div>
  </div>
  
  <div id="footer">
      <div class="container">
        <div class="text-muted credit" ng-click="database.emptyDatabase()">Click here to <a href="">empty the database</a>. Please keep in notice that there is no way to retreive lost data.</div>
        <div class="text-muted credit" ng-click="database.exportDatabase()">Click here to <a href="">export the database</a>.</div>
        <span ng-show="database.exportData != ''"><input type="text" ng-model="database.exportData" READONLY/> <a href="" ng-click="database.exportData = '';">hide</a></span>
        <div class="text-muted credit">Click here to <a href="" ng-click="database.isImporting = true; database.exportData = '';">import a database</a>.</div>
        <span ng-show="database.isImporting"><input type="text" ng-model="database.importData" /> <a href="" ng-click="database.importDatabase()">go</a> <a href="" ng-click="database.isImporting = false;">cancel</a></span>
      </div>
    </div> 
  </body>
</html>